
*{
    color: White;
    font-family: Gravity, GeoSlb712 Md BT, Helvetica;
    text-decoration: none;
}

h1{
    font-family: GeoSlb712 Md BT, Helvetica;
}


body{
    background-color: Black;
}

.content{
    margin-top: 40px;
    position: absolute;
    left: 40%;
}

.rotate_logo{
  background-color: purple;
  margin-top: 100px;
  padding: 15px;
}

.rotate_img_right{
    position: absolute;
    top: 200px;
    left:200px;
    height: 584.5px;
    width: 584.5px;
    -webkit-animation: spin_r 4s linear infinite;
    -moz-animation: spin_r 4s linear infinite;
    animation: spin_r 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg);}}
@-webkit-keyframes spin { 100% {-webkit-transform: rotate(360deg);}}
@keyframes spin_r { 100% {-webkit-transform: rotate(360deg); transform: rotate(360deg);}}

.rotate_img_left{
    position: absolute;
    top: 100px;
    left:100px;
    height: 800px;
    width: 800px;
    -webkit-animation: spin_l 4s linear infinite;
    -moz-animation: spin_l 4s linear infinite;
    animation: spin_l 4s linear infinite;
}
@-moz-keyframes spin_l { 100% { -moz-transform: rotate(-360deg);}}
@-webkit-keyframes spin_l { 100% {-webkit-transform: rotate(-360deg);}}
@keyframes spin_l { 100% {-webkit-transform: rotate(-360deg); transform: rotate(-360deg);}}
