*{
    color: White;
    font-family: Gravity, GeoSlb712 Md BT, Helvetica;
    text-decoration: none;
}

h1{
    font-family: GeoSlb712 Md BT, Helvetica;
}


body{
    background-color: Black;
}

.content{
    margin-top: 40px;
    position: absolute;
    left: 40%;
}
.policy {
	margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    text-align: justify;
	border-style: outset;
	border-radius: 5px;
	border-color: #444444;
	background-color: #444444;
}

.btn {
	background-color: black;
	color: white;
    padding: 14px 24px;
    margin-right: 5px;
	font-size: 22px;
	cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: black;
    padding: 14px 24px;
    margin-right: 5px;
    font-size: 22px;
    cursor: pointer;
}

#ranking{
  background-color: #2C2C2C;
}

.rotate_img_left{
  margin-left: -25%;
    -webkit-animation: spin_l 4s linear infinite;
    -moz-animation: spin_l 4s linear infinite;
    animation: spin_l 4s linear infinite;
}
@-moz-keyframes spin_l { 100% { -moz-transform: rotate(-360deg);}}
@-webkit-keyframes spin_l { 100% {-webkit-transform: rotate(-360deg);}}
@keyframes spin_l { 100% {-webkit-transform: rotate(-360deg); transform: rotate(-360deg);}}
